.productInfo {
    background-color: #ffff;
    padding: 30px;

    p {
        color: grey;
    }

    strong {
        color: grey;
        line-height: 30px;
    }


    li {
        font-weight: lighter;
        line-height: 22px;
    }

    .productInfoCode {
        color: grey;
    }



}