.someText {

}

.readMoreContainer {
    border-top: 1px solid #CCC;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.readMoreText {
    font-size: larger;
     justify-self: start;
     width: auto;
     margin-bottom: auto;
     margin-top: auto;
}

.arrowButton {
    justify-self: end;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    /* Remove borders */


    i {
        transform: rotate(-45deg);
        border: solid grey;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 6px;
    }
}