
.productInfoSpef {
    padding: 30px;
    color: grey;
    background-color: #ffff;

    ul {
        list-style: none;
        padding-inline-start: 0px;
    }

    li {
        font-size: 16px;
        list-style: none;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-top: 10px;
        border-top: 1px solid #CCC;
    }
}


.productSpefItem {

    display: grid;
    grid-template-columns: 2fr 2fr;

    .productSpefItemValue {
        text-align: right;
    }

}


@media screen and (min-width: 768px) {
    .header {
        border-style: solid;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: solid lightgray;
        background-color: transparent;

        h1 {
            text-align: center;
        }
    }

    .priceInfo {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 2;
        border-top: 0;
    }

    .container {
        color: grey;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-flow: 0;
    }

}