.dot {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.dot span {
	margin: 5px;
	font-size: 5px;
	line-height: 0;
}

.active {
	color: black;
}

.inActive {

	color: lightgray;


}