.slider {
  // display: inherit;

}

.productCarousel {
  text-align: center;
  padding: 1rem;
  background-color: #ffff;
}

.productCarousel img {
  max-height:  400px;

}

@media screen and (min-width: 768px) {
  .slider {
    max-height: 500px;
  }

}