.header {
    display: grid;
    grid-template-columns: 60px;
    grid-auto-flow: column;
    background-color: #ffff;
    padding: 10px;

    h1 {
        color: grey;
        font-weight: 100;
        text-transform: none;
        font-size: 1em;
        text-align: left;
        letter-spacing: normal;
    }
}

.arrowButton {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    /* Remove borders */


    i {
        transform: rotate(135deg);
        border: solid grey;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 6px;
    }
}

.container {
    color: grey;
    display: grid;
    grid-auto-flow: rows;
    display: grid;
    gap: 1px;
    color: black;
    font-weight: 200;
    letter-spacing: normal;
    line-height: 20px;
    background-color: lightgray;
    font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica, sans-serif;

    h3 {
        margin-top: 10px;
        color: grey;
        font-weight: 100;
        text-transform: none;
        font-size: 32px;
        letter-spacing: normal;
    }
}

.priceInfo {
    background-color: #ffff;
    padding: 30px;
    border-top: 3px solid lightgray;

    h1 {
        text-align: left;
        text-transform: none;
        letter-spacing: normal;
        margin-bottom: 0;
    }


    .guaranteeDetail {
        color: green;
        font-size: smaller;
    }
}



@media screen and (min-width: 768px) {
    .header {
        border-style: solid;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: solid lightgray;
        background-color: transparent;

        h1 {
            text-align: center;
        }
    }

    .priceInfo {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 2;
        border-top: 0;
    }

    .container {
        color: grey;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-flow: 0;
    }

}