.content {
  display: grid;
  gap: 1px;
  color: black;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 20px;
  background-color: lightgray;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica, sans-serif;
}

.header {
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: solid lightgray;
}

.header h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: none;
  color: grey;
  font-weight: 100;
  letter-spacing: normal;
}


@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;

  }

  .contentItem {
    display: grid;
    grid-template-rows: 3;
    margin-bottom: 10px;

  }

  .contentItemImage {
    margin: 20px;

  }

}


.link {
  color: inherit;
  text-decoration: none;
  display: block;
  background-color:#ffff;
}

.contentItem {
  background-color: #ffff;
  padding: 10px;
  padding: 30px;
}

.price {
  font-weight: bold;
}